!!!
%html
	%head
		%title TapesTapesTapes
		%link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}
	%body#body
		#container
			#header
				TAPES
				%br
				TAPES
				%br
				TAPES
			#tapeInfo
				= yield