!!!
%html{:xmlns=>'http://www.w3.org/1999/xhtml'}
	%head
		%title= @pageTitle
		%link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}
	%body#body
		#container
			#header
				TAPES
				%br
				TAPES
				%br
				TAPES
			#tapeInfo
				= yield
			#footer
				&copy; 2010 Josh Kaplan
				|
				%a{:href => '#', :class => 'general'} About
				|
				%a{:href => '#', :class => 'general'} Contact