%h3= @tape.title
Has songs:
%ul#songList
	- i = 0
	- @songs.each do |song|
		- songInfo = song.title + ' by ' + song.artist
		- if i % 2 == 0
			%li.song1{:onclick => 'document.location="/view/song/' + song.id.to_s() + '"'}=songInfo
		- else
			%li.song2{:onclick => 'document.location="/view/song/' + song.id.to_s() + '"'}=songInfo
		- i += 1