%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js", :type => "text/javascript"}
%script{:type => 'text/javascript', :src => '/niftyplayer.js'}
%script{:src => "/playercontrols.js", :type => "text/javascript"}
%script{:type => 'text/javascript'}
	play = new Image(); 
	play.src = '/play_16.png';
	pause = new Image(); 
	pause.src = '/pause_16.png'
	var player = new Player(1,'niftyPlayer1');
%h3
	=@tape.title
	created by
	%a{:href => '/user/' + @tape.user.uname, :class => 'general'}=@tape.user.uname
%p.small
	%a{:href => '/add/song', :class => 'general small'} add a song
	|
	%a{:href => '#', :class => 'general small', :onClick => 'player.playPause()'}play / pause
	|
	%a{:href => '#', :class => 'general small', :onClick => 'player.prevSong()'}prev
	|
	%a{:href => '#', :class => 'general small', :onClick => 'player.nextSong()'}next
%p
	%span{:class => 'small'} Now playing:
	%span#nowPlayingInfo nothing. Pick a song!
	%span#nowPlayingTime
	%span#nowPlayingLoad
%ul#songList
	- i = 0
	- @songs.each do |song|
		- songInfo = song.title + ' by ' + song.artist
		- if i % 2 == 0
			%li.song1{:onclick => 'player.playSong('+  i.to_s() +')'}
				%span
					=song.title
					by
					%a{:href => '/view/artist/' + song.artist, :class => 'songArtist'}=song.artist
		- else
			%li.song2{:onclick => 'player.playSong('+  i.to_s() +')'}
				%span
					=song.title
					by
					%a{:href => '/view/artist/' + song.artist, :class => 'songArtist'}=song.artist
		- i += 1
%embed{:height => "0", :name => "niftyPlayer1", :pluginspage => "http://www.macromedia.com/go/getflashplayer", :quality => "high", :src => "/niftyplayer.swf", :type => "application/x-shockwave-flash", :width => "0"}