/* @override http://localhost:4567/style.css */

#container {
	width: 70%;
	margin-top: 2%;
	background-color: #DDE1EA;
	padding: 1%;
	margin-right: 15%;
	margin-left: 15%;
	float: left;
}

div#header {
	font: 5em Helvetica, Arial, Geneva, sans-serif;
	width: 50%;
	float: left;
	background-color: #DDE1EA;
}

div#tapeInfo {
	width: 50%;
	margin-left: 50%;
	background-color: #DDE1EA;
	font-family: Helvetica, Arial, Geneva, sans-serif;
}

ul#songList {
	list-style-type: none;
	padding: 0;
}

.song1 {
	font-size: 12pt;
	padding: 5pt;
	background-color: #038DBE;
	color: #FAFAFD;
}

:hover.song1 {
	font-size: 12pt;
	padding: 5pt;
	background-color: #A5E7FD;
	color: #444;
	cursor: pointer; cursor: hand;
}

a.songArtist {
	color: inherit;
	text-decoration: none;
}

a:hover.songArtist {
	color: inherit;
	text-decoration: underline;
}

#controlsNShit {
	font-family: Helvetica, Arial, Geneva, sans-serif;
	text-align: left;
	padding: .5%;
	font-size: 11pt;
	width: 50%;
	float: left;
}

#nowPlaying {
	font-family: Helvetica, Arial, Geneva, sans-serif;
	text-align: left;
	padding: .5%;
	font-size: 11pt;
	width: 49%;
	float: left;
}

.song2 {
	font-size: 12pt;
	padding: 5pt;
	background-color: #5AB7F2;
	color: #444;
}

:hover.song2 {
	font-size: 12pt;
	padding: 5pt;
	background-color: #A5E7FD;
	color: #444;
	cursor: pointer; cursor: hand;
}

body#body {
	background-color: #FAFAFD;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, Geneva, sans-serif;
}

.tapeName {
	font-weight: bold;
}

a.tapeMaker {
	font-weight: bold;
	text-decoration: none;
	color: #444;
}

a:hover.tapeMaker {
	font-weight: bold;
	text-decoration: underline;
	color: #444;
}

a:visited.tapeMaker {
	font-weight: bold;
	text-decoration: underline;
	color: #444;
}

#nowPlaying a.songInfo {
	text-decoration:none;
	color: #444;
	font-weight: bold;
}

#nowPlaying a:hover.songInfo {
	text-decoration: underline;
}

a.controls {
	text-decoration: none;
	color: #444;
}

a:hover.controls {
	text-decoration: underline;
}

#footer {
	margin-top: 30px;
	width: 100%;
	float: left;
	font-size: 12px;
	margin-left: 20px;
}

a.general {
	color:  #444;
	text-decoration: none;
}

a.general:hover {
	text-decoration: underline;
}

.small {
	font-size: 10pt;
}

.fakeBullet {
	float: left;
	margin-right: 5px;
}